* {
    box-sizing: border-box;
    max-width: 100%;
}

body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background-color: #e6f0ff;
    color: #003366;
}

h1 {
    text-align: center;
    color: #0055cc;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, button, textarea { 
    margin: 5px 0; 
    width: 100%; 
    padding: 10px;
    border: 2px solid #0055cc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus, button:focus {
    outline: none;
    border-color: #003399;
    box-shadow: 0 0 5px #6699ff;
}

button {
    background-color: #0055cc;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003399;
}

.jogo {
    margin-bottom: 10px;
    background-color: #cce0ff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 51, 102, 0.2);
}

#resultados {
    margin-top: 20px;
    background-color: #cce0ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 51, 102, 0.2);
}

ul {
    padding-left: 20px;
}
